ul {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  padding: 1rem 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  font-size: 1rem;
}